html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #3e4144;
    color: white;
}
.flex_box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.flex_box a{
    text-decoration: none;
    color: white;
}
.flex_box a:hover{
    text-decoration: none;
    color: white;
}
.nav_item{
    margin-left: 10px;
    margin-right: 10px;
    background-color: red;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    color: white;
}
.content{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
footer{
    position: fixed;
    width: 100%;
    height: 70;
    background-color: red;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    bottom: 0;
}
