{% extends "base.html" %}
{% block content %}
    <h1> {{ film.nazev }} <span class="glyphicon glyphicon-erase"></span></h1>
    <small> Režie: {{ film.rezie }} </small>
    <h3> Žánr: {{film.zanr.nazev_zanru}} </h3>
    Nové Tagy: {% if film.tagy.all.0 %} {% for tag in film.tagy.all %} <div class="btn btn-primary">{{tag.tag_title}} </div> {% endfor %} {% else %} <span style="color: red;">Tento film nemá žádné tagy</span> {% endif %}
    <hr>
    <form method="POST">
        {% csrf_token %}

        {% if user.is_admin %}<button name="edit">Upravit film</button><button name="delete">Smazat film</button>{% endif %}
    </form>
{% endblock %}
